<!DOCTYPE html>
<html>
<head>
    <title>ResQPaws</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar">
    🐾 ResQPaws Rescue System
</div>

<div class="container">
    <div class="card">
        <h2>Welcome to ResQPaws</h2>
        <p>Help injured stray animals get rescued faster.</p>

        <a href="/report">📢 Report Injured Animal</a><br><br>
        <a href="/dashboard">📊 View Rescue Dashboard</a>
    </div>
</div>

</body>
</html>
