<!DOCTYPE html>
<html>
<head>
    <title>Report Animal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar">
    🐾 ResQPaws Rescue System
</div>

<div class="container">
    <h2>🐕 Report Injured Animal</h2>

    <div class="card">
        <form method="POST">

            <label>Animal Type</label><br>
            <input type="text" name="animal_type" required><br><br>

            <label>Condition</label><br>
            <input type="text" name="condition" required><br><br>

            <label>Location</label><br>
            <input type="text" name="location" required><br><br>

            <label>Description</label><br>
            <textarea name="description"></textarea><br><br>

            <button type="submit">Submit Report</button>
        </form>
    </div>
</div>

</body>
</html>
